{% extends "/shared/base.html" %}


{% block content %}


<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="text-center mb-20">
      <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">Announcements</h1>
      <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-gray-500s">Please note that this site is under obstruction. Anything you say or do will be used against you in the court of public opinion.</p>
      <div class="flex mt-6 justify-center">
        <div class="w-16 h-1 rounded-full bg-sapphire_blue-500 inline-flex"></div>
      </div>
    </div>
    <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6">
      <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
        <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-amber-200 text-sappbg-sapphire_blue-500 mb-5 flex-shrink-0">
            <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" stroke-width="0" stroke-linecap="round" stroke-linejoin="round"
             class="w-14 h-14 text-white flex-shrink-0 fill-tangelo-700">
            <path class="st0" d="M0,73.783v364.433h512v-11.175V73.783H0z M22.358,205.741h54.726v118.446H22.358V205.741z M244.827,320.936 c-13.732-2.337-26.002-8.852-35.466-18.306c-11.954-11.962-19.316-28.383-19.318-46.63c0.003-18.254,7.364-34.668,19.318-46.638 c9.465-9.454,21.735-15.962,35.466-18.306V320.936z M167.684,256c0.004,44.982,33.652,82.026,77.143,87.532v72.319H22.358v-69.307 h77.084V183.383H22.358V96.141h222.465l0.004,72.328C201.332,173.989,167.688,211.017,167.684,256z M489.643,324.187h-54.726 V205.741h54.726V324.187z M489.643,183.383h-77.088v163.161h77.088v69.307H267.185l-0.004-72.319 c43.491-5.513,77.132-42.55,77.14-87.532c-0.008-44.983-33.652-82.01-77.14-87.532l-0.004-72.328h222.466V183.383z M267.181,320.936v-129.88c13.732,2.345,25.998,8.853,35.459,18.306c11.955,11.969,19.316,28.384,19.319,46.638 c-0.004,18.247-7.364,34.668-19.319,46.63C293.178,312.084,280.912,318.591,267.181,320.936z"></path>
            </svg>
        </div>
        <div class="flex-grow">
          <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Upcoming Matches</h2>
          <p class="leading-relaxed text-base">Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine, ramps microdosing banh mi pug VHS try-hard.</p>
          <a class="mt-3 text-sappbg-sapphire_blue-500 inline-flex items-center">Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
      <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
        <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-amber-200 text-sappbg-sapphire_blue-500 mb-5 flex-shrink-0">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" stroke-width="0" stroke-linecap="round" stroke-linejoin="round"
                 class="w-12 h-12 text-white flex-shrink-0 fill-green-800">
                <path d="M22,12H16.333V10a1,1,0,0,0-1-1H8.667a1,1,0,0,0-1,1v5H2a1,1,0,0,0-1,1v6a1,1,0,0,0,1,1H22a1,1,0,0,0,1-1V13A1,1,0,0,0,22,12ZM7.667,21H3V17H7.667Zm6.666-8v8H9.667V11h4.666ZM21,21H16.333V14H21ZM15,3.292,13.333,4.667,13.854,7,12,5.667,10.146,7l.521-2.333L9,3.292,11,3l1-2,1,2Z"></path>
            </svg>
        </div>
        <div class="flex-grow">
          <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Standings</h2>
          <p class="leading-relaxed text-base">Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine, ramps microdosing banh mi pug VHS try-hard.</p>
          <a class="mt-3 text-sappbg-sapphire_blue-500 inline-flex items-center">Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
      <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
        <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-amber-200 text-sappbg-sapphire_blue-500 mb-5 flex-shrink-0">
            <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" stroke-width="0" stroke-linecap="round" stroke-linejoin="round"
             class="w-14 h-14 text-white flex-shrink-0">
            <g id="SVGRepo_tracerCarrier" class="fill-tangelo-600">
            <path class="st0" d="M0,73.783v364.433h512v-11.175V73.783H0z M22.358,205.741h54.726v118.446H22.358V205.741z M244.827,320.936 c-13.732-2.337-26.002-8.852-35.466-18.306c-11.954-11.962-19.316-28.383-19.318-46.63c0.003-18.254,7.364-34.668,19.318-46.638 c9.465-9.454,21.735-15.962,35.466-18.306V320.936z M167.684,256c0.004,44.982,33.652,82.026,77.143,87.532v72.319H22.358v-69.307 h77.084V183.383H22.358V96.141h222.465l0.004,72.328C201.332,173.989,167.688,211.017,167.684,256z M489.643,324.187h-54.726 V205.741h54.726V324.187z M489.643,183.383h-77.088v163.161h77.088v69.307H267.185l-0.004-72.319 c43.491-5.513,77.132-42.55,77.14-87.532c-0.008-44.983-33.652-82.01-77.14-87.532l-0.004-72.328h222.466V183.383z M267.181,320.936v-129.88c13.732,2.345,25.998,8.853,35.459,18.306c11.955,11.969,19.316,28.384,19.319,46.638 c-0.004,18.247-7.364,34.668-19.319,46.63C293.178,312.084,280.912,318.591,267.181,320.936z"></path>
            </g>
            </svg>
        </div>
        <div class="flex-grow">
          <h2 class="text-gray-900 text-lg title-font font-medium mb-3">News</h2>
          <p class="leading-relaxed text-base">Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine, ramps microdosing banh mi pug VHS try-hard.</p>
          <a class="mt-3 text-sappbg-sapphire_blue-500 inline-flex items-center">Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <button class="flex mx-auto mt-16 text-white bg-sapphire_blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Button</button>
  </div>
</section>


{% endblock %}
